{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Hôpitaux</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de Fabrication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hopital in hopitaux %}
                <tr>
                    <td>{{ hopital.nom }}</td>
                    <td>{{ hopital.dateFabrication|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('app_hopital_show', {id: hopital.id}) }}">Détails</a> |
                        <a href="{{ path('app_hopital_edit', {id: hopital.id}) }}">Modifier</a> |
                        <form action="{{ path('app_hopital_delete', {id: hopital.id}) }}" method="post" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hopital.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun hôpital trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ path('app_hopital_new') }}">Ajouter un nouvel Hôpital</a>

{% endblock %}
